= partial "partials/header", locals: {page_url: "about"}
.container
  %h1 "Code for Hakodate" のミッションは、ICT（情報通信技術）を使って函館・道南地域の様々な問題を解決することです。
  %p Code for Hakodate は、杉本涼と青田基によって2014年8月30日に設立されました。バスが定時通り来ないことに嫌気が差した当時中学3年生の杉本が、函館の交通機関の時刻表・路線・位置情報のオープンデータ化し、関連するアプリを作りやすい環境を作ろうとしたのが始まりです。その際、#{link_to "株式会社まちづくり五稜郭", "http://goryokaku.jp", target: "_blank"}の代表取締役社長の青田を誘い、Code for Hakodate が設立されました。
  %p 2015年2月21日、世界中の都市で行われている"International Open Data Day"の函館開催をきっかけに集まった中村拓也、兵藤允彦と工藤卓也によってに設立された "Code for DONAN" も Code for Hakodate と同じミッションで活動していたため2015年4月4日に合併し、新生Code for Hakodate として始動しました。
  %p 現在は開発者向けの取り組みだけでなく、スマートフォンのアプリ教室や、Wikipediaの記事を作る「Wikipediaタウン」など、市民向けのワークショップなども積極的に行っております。

  %h2 団体概要
  %table.table
    %tr
      %td 名称
      %td Code for Hakodate (コード・フォー・ハコダテ)
    %tr
      %td 設立
      %td 2014年8月30日
    %tr
      %td 形態
      %td 非営利任意団体
    %tr
      %td 所在地
      %td 〒040-0011 北海道函館市本町25番13号 五稜郭ビル7階 (株)まちづくり五稜郭 内

  - data.members.each do |member|
    .media
      .media-left.media-top
        %img.media-object{src: gravatar_url(member.gravatar)}
      .media-body
        %h4.media-heading= member.name
        - unless member.introduce.nil?
          = member.introduce
          %br
        - unless member.github.nil?
          = link_to "", github_url(member.github), class: "fa fa-github btn btn-warning", target: "_blank"
        - unless member.facebook.nil?
          = link_to "", facebook_url(member.facebook), class: "fa fa-facebook btn btn-facebook", target: "_blank"
