= partial "partials/header", locals: {page_url: "about"}
.container
  %h1 Code for Hakodate のミッションは、ICTを使って函館・道南地域の様々な問題を解決することです。
  %p Code for Hakodate は、杉本 涼と青田 基によって2014年8月30日に設立されました。バスが定時通り来ないことに嫌気を指していた当時中学3年生の杉本が、函館の交通機関の時刻表、路線、位置情報のオープンデータ化をしようとしたのが始まりです。そして、#{link_to "株式会社まちづくり五稜郭", "http://goryokaku.jp", target: "_blank"}の代表取締役社長の青田を誘い、Code for Hakodate が設立されました。
  %p Code for DONAN は、中村 拓也、兵藤 允彦と工藤 拓也によって2015年2月21日に設立されました。Code for Hakodate とCode for DONAN 共に同じミッションで活動していたため、2015年4月4日に、Code for Hakodate とCode for DONAN を合併し、新Code for Hakodate が誕生しました。

  %h2 団体概要
  %table.table
    %tr
      %td 名称
      %td Code for Hakodate (コードフォーハコダテ)
    %tr
      %td 設立
      %td 2014年8月30日
    %tr
      %td 形態
      %td 非営利任意団体
    %tr
      %td 事務所
      %td 郵便番号: 040-0011
    %tr
      %td
      %td 住所: 北海道函館市本町25番13号五稜郭ビル7階
    
  .media
    - data.members.each do |member|
      .media-left.media-middle
        %img.media-object{src: member.gravatar}
      .media-body
        %h4.media-heading= member.name
        - unless member.introduce.nil?
          = member.introduce
          %br
        - unless member.github.nil?
          = link_to "", github_url(member.github), class: "fa fa-github btn btn-warning", target: "_blank"
        - unless member.facebook.nil?
          = link_to "", member.facebook, class: "fa fa-facebook btn btn-facebook", target: "_blank"
